$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
// endbower

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.list-item {
  list-style-type: none;
  width: 100%;
  text-align: center;
  @extend p;
}

.menu {

  padding: 0px;

  li {
    @extend .list-item;
  }
}

.blue {
  color: blue;
}

.login-menu {
  >h1 {
      text-align: center;
  }
  >.login-status {
      text-align: center;
      color: red;
  }
  md-content {
    section {
    }
  }
}

.fs-side-nav {
    .fs-menu-items {
        button {
            width: 100%;
            padding: 16px;
        }
    }
}

/* HOME PAGE */

.home-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
        }
        >md-content {
            >button {
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
            >md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
    }
    >menu-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 50px;
    }
}

/* SELECT-BEHAVIOR */

.behaviors-partial {
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
            text-transform: capitalize;
        }
        >md-content {
            >button {
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
            >md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
    }
    >back-button {
        position: absolute;
        right: 10px;
        bottom: 80px;
        line-height: 50px;
    }
    >menu-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 50px;
    }
}

/* CREATE-USER */

.create-user {
    text-align: center;
    >md-content {
        >md-input-container {
            text-align: left;
        }
    }
}

/* PREVIOUS SCALES PAGE */

.previous-scales-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
            text-transform: capitalize;
        }
        >md-content {
            >button {
                display: block;
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
        }
    }
    >back-button {
        position: absolute;
        right: 10px;
        bottom: 80px;
        line-height: 50px;
    }
    >menu-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 50px;
    }
}

/* DISPLAY SCALES PAGE */

.display-scale-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        h1, h2, h4, p, .minor-behaviors {
            text-align: center;
        }
        .major-behaviors {
            color: rgba(0,0,0,0.54);
        }
        .minor-behaviors {
            color: rgba(0,0,0,0.26);
            font-size: 12px;
            margin: 0.83em 0;
        }
        .date-range {
            font-size: 16px;
            margin: 0.83em 0;
            padding-left: 16px;
        }
        >md-content {
            md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
    }
    >menu-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 50px;
    }
    >back-button {
        position: absolute;
        right: 10px;
        bottom: 80px;
        line-height: 50px;
    }
}

/* Extending angular-material.css */

.md-button.md-default-theme.md-accent {
    color: rgb(255,64,129);
}

.md-button.md-default-theme.md-circle-accent {
    color: rgb(35, 211, 51);
}
