$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
// endbower

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.list-item {
  list-style-type: none;
  width: 100%;
  text-align: center;
  @extend p;
}

.menu {

  padding: 0px;

  li {
    @extend .list-item;
  }
}

.blue {
  color: blue;
}

.login-menu {
  md-content {
    section {
    }
  }
}

.fs-side-nav {
    .fs-menu-items {
        button {
            width: 100%;
            padding: 16px;
        }
    }
}

/* HOME PAGE */

.home-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
        }
        >md-content {
            >button {
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
            >md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
    }
    >menu-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 50px;
    }
}

/* SELECT-BEHAVIOR */

.behaviors-partial {
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
            text-transform: capitalize;
        }
        >md-content {
            >button {
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
            >md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
    }
    >menu-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 50px;
    }
}

/* Extending angular-material.css */

.md-button.md-default-theme.md-accent {
    color: rgb(255,64,129);
}
