$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$row-height: 644px;

$break-smallest: 320px;
$break-small: 600px;
$break-medium: 960px;
$break-large: 1200px;
$break-largest: 1201px;

// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,200,400,700|Roboto:100,200,400,700,700italic,400italic);

@import url(http://fonts.googleapis.com/css?family=PT+Mono);

html {
    font-family: 'Roboto';
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.list-item {
  list-style-type: none;
  width: 100%;
  text-align: center;
  @extend p;
}

.menu {

  padding: 0px;

  li {
    @extend .list-item;
  }
}

.blue {
  color: blue;
}

/* LOGIN PAGE */

.login-menu {
  >.login-status {
      text-align: center;
      color: red;
      padding: 16px;
  }
}

.fs-side-nav {
    .fs-menu-items {
        button {
            width: 100%;
            padding: 16px;
        }
    }
}

/* LANDING PAGE */

.landing-page {
    md-toolbar {
        height: $row-height;
        h1 {
            font-weight: Normal;
            font-size: 68px;
            margin: 0px;
            text-align: center;
        }
        h2 {
            font-weight: Normal;
            text-align: center;
        }
        .landing-buttons > button {
            margin-left: 10px;
            margin-right: 10px;
        }
        .beta {
            color: white;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    .key-points {
        height: $row-height;
        padding: 50px;
        text-align: center;
        color: rgb(97, 97, 97);
            @media screen and (max-width: $break-small) {
                padding: 30px;
            }
        h2 {
            font-size: 50px;
            font-weight: 200;
            margin-top: 0px;
            color: rgb(97, 97, 97);
            @media screen and (max-width: $break-small) {
                font-size: 40px;
            }
            @media screen and (max-width: $break-smallest) {
                font-size: 32px;
            }
        }
        div {
            font-size: 24px;
            font-weight: 400;
            line-height: 50px;
            max-width: 700px;
            @media screen and (max-width: $break-small) {
                font-size: 20px;
                text-align: justify;
            }
        }
    }
    .core-beliefs {
        height: $row-height;
        position: relative;
        .message {
            padding: 100px;
            background-color: rgba(45, 40, 40, 1);
            color: #FFFFFF;
            font-family: 'PT Mono', Ariel, serif;
            font-weight: 400;
            font-size: 24px;
            text-align: justify;
            @media screen and (max-width: $break-large) {
                padding: 60px;
            }
            @media screen and (max-width: $break-small) {
                font-size: 20px;
                padding: 30px;
            }
            @media screen and (max-width: $break-smallest) {
                padding: 20px;
            }
            .emphasis {
                color: #0DC8FF;
            }
            .attribution {
                font-size: 16px;
                padding-left: 50%;
                margin-top: 30px;
                @media screen and (max-width: $break-small) {
                    padding-left: 10%;
                }
            }
        }
        .pic {
            background-image: url(https://s3-us-west-2.amazonaws.com/faster-scale/stairs_966x644.jpg);
            background-position-x: 100%;
            @media screen and (max-width: $break-small) {
                background-position-x: 85%;
            }
        }
    }
}

/* HOME PAGE */

.home-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
        }
        >md-toolbar >.md-toolbar-tools > .menu-button {
            margin-left: auto;
            >md-icon {
                margin-top: 0px;
            }
        }
        >md-content {
            >button {
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
            >md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
        >menu-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
            line-height: 50px;
        }
        .hide {
            @media screen and (max-width: $break-small) {
                bottom: -60px;
            }
        }
    }
}

/* SELECT-BEHAVIOR */

.behaviors-partial {
    .stage-name {
        text-transform: capitalize;
    }
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
            text-transform: capitalize;
        }
        >md-toolbar >.md-toolbar-tools > .menu-button {
            margin-left: auto;
            >md-icon {
                margin-top: 0px;
            }
        }
        >md-content {
            >button {
                width: 100%;
                padding: 16px;
                white-space: normal;
                >.behavior-text {
                    padding: 10px;
                }
            }
            >md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
        >back-button {
            position: absolute;
            right: 10px;
            bottom: 80px;
            line-height: 50px;
        }
        >menu-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
            line-height: 50px;
        }
    }
}

/* CREATE-USER */

.create-user {
    text-align: center;
    >md-content {
        >md-input-container {
            text-align: left;
        }
    }
}

/* PREVIOUS SCALES PAGE */

.previous-scales-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        >h1 {
            text-align: center;
            text-transform: capitalize;
        }
        >md-toolbar >.md-toolbar-tools > .menu-button {
            margin-left: auto;
            >md-icon {
                margin-top: 0px;
            }
        }
        >md-content {
            >button {
                display: block;
                width: 100%;
                padding: 16px;
                white-space: normal;
            }
        }
        >back-button {
            position: absolute;
            right: 10px;
            bottom: 80px;
            line-height: 50px;
        }
        >menu-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
            line-height: 50px;
        }
    }
}

/* DISPLAY SCALES PAGE */

.display-scale-page { 
    >.content {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: scroll;
        h1, h2, h4, p, .minor-behaviors {
            text-align: center;
        }
        >md-toolbar >.md-toolbar-tools > .menu-button {
            margin-left: auto;
            >md-icon {
                margin-top: 0px;
            }
        }
        .major-behaviors {
            color: rgba(0,0,0,0.54);
        }
        .minor-behaviors {
            color: rgba(0,0,0,0.26);
            font-size: 12px;
            margin: 0.83em 0;
        }
        .date-range {
            font-size: 16px;
            margin: 0.83em 0;
            padding-left: 16px;
        }
        >md-content {
            md-input-container {
                width: 100%;
                padding: 16px;
            }
        }
        >menu-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
            line-height: 50px;
        }
        >back-button {
            position: absolute;
            right: 10px;
            bottom: 80px;
            line-height: 50px;
        }
    }
}

/* Extending angular-material.css */

/*.md-button.md-default-theme.md-accent {*/
    /*text-decoration: underline;*/
/*}*/

.md-button.md-default-theme.md-hue-1.underline {
    text-decoration: underline;
}

.md-circle-accent {
    border: 3px solid black;
    border-radius: 25px;
}

/* OVERRIDES of angular-material.css */

/*.md-button.md-default-theme:not([disabled]):hover, */
/*.md-button.md-default-theme:not([disabled]):focus {*/
    /*background-color: rgba(255, 255, 255, 1);*/
/*}*/

md-input-container.md-default-theme .md-input[disabled] {
    color: black;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label {
    color: rgb(63,81,181);
    font-size: 20px;
}

md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder {
    color: rgb(63,81,181);
    font-size: 20px;
}
