<div class="create-user">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>Create New Account</span>
            </h3>
        </div>
    </md-toolbar>
    <p>{{ createUserCtrl.status.text }}</p>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="createUserCtrl.email" auto-fill-sync>
            </md-input-container>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-input-container flex>
                <label>Password</label>
                <input ng-model="createUserCtrl.password" type="password" auto-fill-sync>
            </md-input-container>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
        <md-button class="md-raised md-primary" ng-click="createUserCtrl.createUser($event)">Create User</md-button>
        <!--<md-button>No thanks, take me back</md-button>-->
    </md-content>
</div>
