<div ng-controller="DisplayScaleCtrl">
    <h1>Display Scale</h1>
    <p>Date Range:</p>
    <ul class="list-group" ng-repeat="(stageId, stage) in displayScaleCtrl.scale.stages">
        <li class="list-group-item">
            <p>{{ stageId | fullStage }}</p>
            <div>
                <ul class="list-group" ng-repeat="(behaviorId, behavior) in displayScaleCtrl.scale.behaviors">
                    <li>{{ behaviorId | fullBehavior }}</li>  
                </ul>
            </div>
        </li>
    </ul>
</div>
