<div ng-controller="DisplayScaleCtrl">
    <h1>Display Scale</h1>
    <p>Date Range:</p>
    <ul class="list-group" ng-repeat="stage in displayScaleCtrl.scale">
        <li class="list-group-item">
            <p>{{ stage.stageId }} : {{ stage.stageId | fullStage }}</p>
            <div>
                <ul class="list-group" ng-repeat="behaviorId in stage.behaviorIds">
                    <li>{{ behaviorId }} : {{ behaviorId | fullBehavior }}</li>  
                </ul>
            </div>
        </li>
    </ul>
    <ul>
      <li ng-click="navigateTo('/previous-scales')">Back</li>
      <li ng-click="navigateTo('/home')">Home</li>
    </ul>
</div>
