<div class="home-page" ng-controller="HomeCtrl">
    <h1>FASTER</h1>
    <md-button ng-click="homeCtrl.toggleMenu()" class="md-fab fs-menu-btn" aria-label="Comment">
        <md-icon icon="images/icons/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <div class="md-ripple-container"></div>
    </md-button>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content class="fs-menu-items">
            <md-button ng-repeat="item in homeCtrl.menuItems"
            ng-class="{ 'md-primary md-hue-1': !item.isSelected,
                        'md-accent': item.isSelected }">
                {{ item.text }}
            </md-button>
            <md-button ng-click="homeCtrl.close()" class="md-primary">Close</md-button>
        </md-content>
    </md-sidenav>
</div>
