<div class="landing-page" layout="column">
    <md-toolbar layout="column" layout-align="center center">
        <h1>FASTER Scale</h1>
        <h2>A Relapse Prevention Awareness Scale</h2>
        <div class="landing-buttons" layout="row" layout-align="center">
            <md-button class="md-raised md-accent" ng-click="landingCtrl.onSignUpClicked()">Sign Up</md-button>
            <md-button class="md-raised" ng-click="onLoginClicked()">Login</md-button>
        </div>
    </md-toolbar>
</div>
