<div class="landing-page" layout="column">
    <md-toolbar layout="column" layout-align="center center">
        <img class="beta" src="https://s3-us-west-2.amazonaws.com/faster-scale/beta-white.svg"/>
        <h1>FASTER Scale</h1>
        <h2>A Relapse Prevention Awareness Scale</h2>
        <div class="landing-buttons" layout="row" layout-align="center">
            <md-button class="md-raised md-accent" ng-click="landingCtrl.onSignUpClicked()">Sign Up</md-button>
            <md-button class="md-raised" ng-click="onLoginClicked()">Login</md-button>
        </div>
    </md-toolbar>
    <md-content class="key-points" layout="column" layout-align="center center">
        <h2>Why use the FASTER Scale?</h2>
        <div>The Faster Scale's purpose is to help you wake up to the reality of the moment so that you have the opportunity to change.  To change will require you to challenge harmful beliefs that put you into a position where relapse is more possible.
        </div>
    </md-content>
    <div class="core-beliefs" layout-sm="column" layout-md="column" layout-gt-md="row">
      <div class="message" flex-sm="100" flex-md="100" flex-gt-md="50" layout="column" layout-align="center center">
          <span>Core beliefs create emotions and thoughts that drive behavior.  If you want true change you must go back to the source that is your belief system.  If we create a new belief system, it will lead to new thoughts and behaviors that then lead to brand new and healthier behaviors.  <span class="emphasis">This is how permanent change occurs through the renewing of the mind</span></span>
          <div class="attribution">
              Adapted from Genesis Process by Michael Dye
          </div>
      </div>
      <div class="pic" flex-sm="100" flex-md="100" flex-gt-md="50"></div>
    </div>
</div>
