<div class="login-menu" ng-controller="LoginCtrl" layout="column">
    <md-content>
        <div class="row">
            <h1>FASTER</h1>
        </div>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <p>{{ loginCtrl.status }}</p>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="loginCtrl.email" auto-fill-sync>
            </md-input-container>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-input-container flex>
                <label>Password</label>
                <input ng-model="loginCtrl.password" type="password" auto-fill-sync>
            </md-input-container>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-button class="md-raised md-primary" ng-click="loginCtrl.signIn($event)">Sign in</md-button>
            <md-button ng-click="navigateTo('/forgot-password')">Forgot Password?</md-button>
            <md-button ng-click="navigateTo('/create-user')">Not a member? Sign up today.</md-button>
    </md-content>
</div>
