<div class="login-menu" layout="column">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>FASTER Scale App</span>
            </h3>
        </div>
    </md-toolbar>
    <div class="login-status">{{ loginCtrl.status }}</div>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-input-container flex>
                <label>Email</label>
                <input ng-focus="loginCtrl.onInputFocus()" ng-model="loginCtrl.email" auto-fill-sync>
            </md-input-container>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-input-container flex>
                <label>Password</label>
                <input ng-focus="loginCtrl.onInputFocus()" ng-model="loginCtrl.password" type="password" auto-fill-sync>
            </md-input-container>
    </md-content>
    <md-content class="md-padding" layout="row" layout-sm="column">
            <md-button class="md-raised md-primary" ng-click="loginCtrl.signIn($event)">Sign in</md-button>
            <!--<md-button ng-click="loginCtrl.onForgotPasswordClicked()">Forgot Password?</md-button>-->
            <md-button ng-click="loginCtrl.onCreateUserClicked()">Sign up</md-button>
    </md-content>
</div>
