<div>
    <h1>Previous Scales</h1>
    <ul>
      <li ng-repeat="(index, scale) in previousScalesCtrl.scales" 
          ng-click="navigateTo(buildPath(['display-scale', scale.$id])); previousScalesCtrl.setDisplayScale(scale.$id);">
          <span ng-click='previousScalesCtrl.deleteScale($event, index)'>delete</span>
          <p>{{ scale.$id }}</p>
          <p>{{ scale.startDate | date : 'medium' }}</p>
          <p>{{ scale.endDate | date : 'medium' }}</p>
      </li>
    </ul>
    <ul>
        <li ng-click="navigateTo('/home')">Back home</li>
    </ul>
</div>
