<div class="behaviors-partial">
    <div class="content" layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                  <span class="stage-name">{{ behaviorsCtrl.stage | removeDashes}}</span>
                </h3>
                <md-button ng-click="behaviorsCtrl.toggleMenu()" class="menu-button">
                    <md-icon icon="https://s3-us-west-2.amazonaws.com/faster-scale/icons/ic_menu_wht_24dp.png" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <span class="md-flex">Behaviors</span>
                </div>
            </md-toolbar>
            <div class="behavior-buttons" ng-repeat="behaviorDefinition in behaviorsCtrl.behaviorDefinitions">
                <md-button style="background-color: white; height: 95px;" 
                    class="md-primary md-hue-1"
                    ng-click="behaviorsCtrl.toggleBehavior(behaviorDefinition.id, $index)">
                        <div class="behavior-text"
                            ng-if="!behaviorDefinition.isSaving"
                            ng-class="{ 'md-circle-accent': behaviorsCtrl.behaviors[behaviorDefinition.id].isCircled,
                                'underline': behaviorsCtrl.behaviors[behaviorDefinition.id].isUnderlined }">
                                {{ behaviorDefinition.description }}
                        </div>
                        <div class="saving-text" ng-show="behaviorDefinition.isSaving">
                            <div>Saving</div>
                            <md-progress-linear md-mode="indeterminate" class="progress-circular"></md-progress-linear>
                        </div>
                </md-button>
            </div>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <span class="md-flex">Questions</span>
                </div>
            </md-toolbar>
            <md-input-container>
                <label>How does this affect you? (i.e how do I act and feel?)</label>
                <textarea ng-model="behaviorsCtrl.answers[behaviorsCtrl.stage].personalEffect"
                    auto-fill-sync
                    ng-blur="behaviorsCtrl.onInputBlur()">
                </textarea>
            </md-input-container>
            <md-input-container>
                <label>How does it affect the important people in my life?</label>
                <textarea ng-model="behaviorsCtrl.answers[behaviorsCtrl.stage].externalEffect"
                    auto-fill-sync
                    ng-blur="behaviorsCtrl.onInputBlur()">
                </textarea>
            </md-input-container>
            <md-input-container>
                <label>Why do I do this? (i.e. what is the benefit for me?)</label>
                <textarea ng-model="behaviorsCtrl.answers[behaviorsCtrl.stage].reason"
                    auto-fill-sync
                    ng-blur="behaviorsCtrl.onInputBlur()">
                </textarea>
            </md-input-container>
        </md-content>
        <fs-side-nav></fs-side-nav>
    </div>
</div>
